/*
  Admin toolbar
*/

div#admin-toolbar .form-button {
  display: inline;
}

/*
  Tabs
*/

.tabs ul.primary {
  font-size: 75%;
  height: 24px;
}

.front .tabs ul.primary {
  margin: 0 0 10px;
}

#imce-content ul.secondary {
  background-color: transparent;
  background-image: none;
}

#imce-content ul.secondary li {
  float: none;
}

#imce-content ul.secondary a {
  border-color: #DDDDDD #DDDDDD #CCCCCC;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  cursor: pointer;
  display: inline;
  font-weight: normal;
  -moz-border-radius: 3px 3px 3px 3px;
  -moz-box-shadow:0 1px 1px #DDDDDD;
  padding: 2px 10px;
  text-align: center;
}

/*
  Blocks
*/

.page-admin-build-block #blocks {
  clear: both;
}

/* !----- / Context ----- */

body.context-editing div a.context-block-region {
  -moz-border-radius: 5px 5px 5px 5px;
  color: #fff;
  display: block;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  margin: 5px 0 0;
  opacity: 0.25;
  text-align: center;
}

body.context-editing div .region.ui-sortable {
  background: none repeat scroll 0 0 #d1ec9b;
  .border-radius(5px);
  height: auto;
  margin: 5px 0;
  padding: 0 0 10px;
  overflow: hidden;
}

body.context-editing div .region.ui-sortable.context-block-region-empty {
  padding: 0;
}

body.context-editing div a.context-block-region,
body.context-editing div.context-block-region-empty a.context-block-region {
  background: #b2d56d;
  color: #fff;
  margin: 5px;
  opacity: 1;
}

body.context-editing div.draggable-placeholder {
  margin: 5px;
}