.block.block-views .content .title span {
  background: url('../images/sprites.png') no-repeat 1px 2px;
  height: 12px;
}

#sidebar-left .menu {
  margin: -18px 0 0;
}

#sidebar-left .menu .menu {
  margin: 0;
}

#sidebar-left .menu li.first a {
  height: 21px;
}

.view-featured-content .content {
  behavior: none;
}