/* CSS: Brian Jensen @ www.magnify.dk */

/*
  Google fonts
*/

@import url('//fonts.googleapis.com/css?family=Nobile:regular&subset=latin');
@import url('//fonts.googleapis.com/css?family=Neuton:regular&subset=latin');

/*
  Admin links etc.
*/

.views-admin-links,
.admin-links {
  display: none !important;
}

/*
  Font, colors etc.
*/

/*
  Default
*/

body {
  background: #bfdbee url('../images/body-background.jpg') repeat-x top center;
  color: #000;
  font: 100%/150% Arial, Verdana, sans-serif;
  padding: 0 0 35px;
}

textarea {
  font: 100%/150% Verdana, Arial, sans-serif;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #000;
}

a:hover {
  text-decoration: none;
}

.node p {
  margin: 15px 0;
}

p {
  margin: 0;
}

ul,
.block ul {
  list-style: square;
  margin: 0;
  padding: 0;
}

td {
  vertical-align: top;
}

dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 10px;
}

h1 {
  color: #636363;
  font-size: 175%;
}

#content .node ul {
  margin: 15px 25px;
}

/*
  Containers
*/

#wrapper {
  background: url('../images/content-bg-bottom.png') no-repeat center bottom;
  padding: 0 0 35px;
}

#header {
  height: 115px;
  position: relative;
}

#logo {
  left: 10px;
  position: absolute;
  top: 15px;
}

#main {
  background-color: #fff;
  padding: 15px 0 0;
}

#content {
  font-size: 85%;
  margin: 0;
}

#content .node,
#content .view-content {
  color: #666666;
  font-size: 85%;
  margin: 0 0 20px;
}

#content-inner {
  margin: 0;
  padding: 0 15px;
}

#content-top {
  margin: 0 0 15px;
  padding: 5px 0 0;
}

#content-bottom {
  padding: 0 0 0 15px;
}

#sidebar-left,
#sidebar-right {
  font-size: 85%;
  margin: 0;
}

#sidebar-left .block {
  font-size: 85%;
}

#sidebar-left {
  margin: 0 0 0 15px;
}

#sidebar-right {
  margin: 0 15px 0 0;
}

#footer-wrapper {
  padding: 0 15px;
}

#footer-blocks {
  background: #a50000 url('../images/gradient-shadow-top-35.png') repeat-x top;
  behavior: url('/sites/all/themes/sportaarhusevents/styles/pie.htc');
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  height: 200px;
  margin: 15px 0;
  padding: 10px 0 10px 70px;
  position: relative;
}

#footer-blocks .block {
  color: #fff;
  float: left;
  font-size: 85%;
  margin: 25px 40px 0 0;
  width: 28%;
}

#footer-blocks .block h3,
#footer-blocks .block h3 a,
#footer-blocks .block h3 a:link,
#footer-blocks .block h3 a:visited,
#footer-blocks .block h3 a:hover,
#footer-blocks .block h3 a:active {
  color: #ffd7d7;
  font-size: 135%;
  font-weight: normal;
  text-decoration: none;
}

#footer-blocks .block h3 span {
  color: #fff;
  font-weight: bold;
}

#footer-blocks .block .content a,
#footer-blocks .block .content a:link,
#footer-blocks .block .content a:visited {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

#footer-blocks .block .content a:hover,
#footer-blocks .block .content a:active {
  text-decoration: underline;
}

#footer {
  background: #334854 url('../images/gradient-shadow-top-35.png') repeat-x top;
  behavior: url('/sites/all/themes/sportaarhusevents/styles/pie.htc');
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  font-size: 70%;
  margin: 0;
  min-height: 185px;
  padding: 30px 40px 20px;
  position: relative;
}

#footer .block {
  float: left;
  margin: 0 30px 0 0;
  min-width: 185px;
}

#footer .aarhus-kommune {
  position: absolute;
  right: 30px;
  top: 65px;
}

/*
  Footer list
*/

#footer .block h3 {
  color: #d0d0d0;
  font-size: 140%;
  margin: 0 0 5px;
}

#footer .block ul {
  margin: 0;
  padding: 0;
}

#footer .block ul li {
  list-style: none;
}

#footer .block ul,
#footer .block ul a,
#footer .block ul a:link,
#footer .block ul a:visited {
  color: #89979f;
  display: block;
  text-decoration: none;
}

#footer .block ul a {
  background: url('../images/sprites.png') no-repeat 0 -32px;
  padding: 0 0 0 8px;
}

#footer .block ul a:hover,
#footer .block ul a:active {
  background: url('../images/sprites.png') no-repeat 0 -67px;
  color: #a5b938;
}

/*
  Breadcrumb
*/

.breadcrumb {
  background-color: #f5f5f5;
  border-bottom: 1px solid #f0f0f0;
  color: #888888;
  font-size: 70%;
  padding: 6px 10px 8px;
}

.breadcrumb a,
.breadcrumb a:link,
.breadcrumb a:visited {
  color: #768718;
  text-decoration: none;
}

.breadcrumb a:hover,
.breadcrumb a:active {
  text-decoration: underline;
}

/*
  General menu stuff
*/

ul.menu li,
ul.list li {
  list-style: none;
  list-style-image: none; /* hide image in IE 7 */
  padding: 0;
}

/* Mainmenu */

#main-menu {
  background: url('../images/main-menu-bg.png') repeat-x;
  behavior: url('/sites/all/themes/sportaarhusevents/styles/pie.htc');
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  position: relative;
}

#main-menu ul.menu {
  height: 46px;
  padding: 0 10px;
}

#main-menu ul.menu li {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

#main-menu ul.menu li.active-trail {
  background: url('../images/main-menu-active-arrow.gif') no-repeat center 37px;
}

#main-menu ul.menu li a {
  color: #d7d6d6;
  display: block;
  font-size: 70%;
  font-weight: bold;
  letter-spacing: 0.001em;
  padding: 11px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

#main-menu ul.menu li a:link,
#main-menu ul.menu li a:visited {
  color: #d7d6d6;
}

#main-menu ul.menu li.active-trail a,
#main-menu ul.menu li a:hover,
#main-menu ul.menu li a:active {
  color: #fff;
}

/* Secondary menu */

#header ul {
  position: absolute;
  right: 80px;
  text-align: right;
  top: 15px;
}

#header ul li {
  background-color: #8b9ca3;
  behavior: url('/sites/all/themes/sportaarhusevents/styles/pie.htc');
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: inline;
  float: left;
  margin: 0 15px 0 0;
  overflow: hidden;
  padding: 0;
}

#header ul li.last {
  margin: 0;
}

#header ul li:hover {
  background-color: #687b83;
}

#header ul li a {
  color: #fff;
  display: block;
  font-size: 70%;
  line-height: 110%;
  margin: 0;
  padding: 4px 8px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #646464;
}

/*
  Submenu
*/

#sidebar-left .menu {
  margin: 0;
  padding: 0;
}

#sidebar-left .menu li {
  background-color: #ebebeb;
  border-top: 1px solid #d8d8d8;
  line-height: 175%;
  margin: 0;
  padding: 0;
}

#sidebar-left .menu li a {
  border-top: 1px solid #f7f7f7;
}

#sidebar-left .menu li li a {
  border-top: 1px solid #f7f7f7;
}

#sidebar-left .menu li.first,
#sidebar-left .menu li.first a {
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  border: 0;
}

#sidebar-left .menu li.first.last,
#sidebar-left .menu li.first.last a {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 0;
}

#sidebar-left .menu li.first.last li,
#sidebar-left .menu li li.first.last,
#sidebar-left .menu li.first.last li a,
#sidebar-left .menu li li.first.last a {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-top: 1px solid #d8d8d8;
}

#sidebar-left .menu li.first.last li a,
#sidebar-left .menu li li.first.last a {
  border-top: 1px solid #f7f7f7;
}

#sidebar-left .menu li li.first,
#sidebar-left .menu li li.first a {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-top: 1px solid #d8d8d8;
}

#sidebar-left .menu li li a,
#sidebar-left .menu li.first li a,
#sidebar-left .menu li.last li a,
#sidebar-left .menu li li.first a {
  border-top: 1px solid #f7f7f7;
}

#sidebar-left .menu li.last,
#sidebar-left .menu li.last a {
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}

#sidebar-left .menu li li.last,
#sidebar-left .menu li li.last a {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

#sidebar-left .menu li.last li.last,
#sidebar-left .menu li.last li.last a {
  -moz-border-radius: 0 0 8px 8px;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}

#sidebar-left .menu a {
  background: url('../images/sprites.png') no-repeat 17px -107px;
  color: #666666;
  display: block;
  padding: 6px 0 6px 30px;
  text-decoration: none;
}

#sidebar-left .menu a.active {
  background-color: #f0f0f0;
  background-position: 17px 14px;
  color: #768718;
}

#sidebar-left .menu a:hover {
  background-color: #f0f0f0;
}

#sidebar-left .menu .menu li a {
  background-position: 33px -107px;
  padding-left: 45px;
}

#sidebar-left .menu .menu li a.active {
  background-position: 33px 14px;
}

#sidebar-left .menu .menu .menu li a {
  background-position: 48px -47px;
  padding-left: 60px;
}

#sidebar-left .menu .menu .menu li a.active {
  background-position: 48px 14px;
}

#sidebar-left .menu .menu .menu .menu li a {
  background-position: 63px -47px;
  padding-left: 75px;
}

#sidebar-left .menu .menu .menu .menu li a.active {
  background-position: 63px 14px;
}

#sidebar-left .menu li a.active-trail {
  font-weight: bold;
}

#sidebar-left .menu li.expanded.active-trail .menu {
  background: url('../images/gradient-shadow-top-35.png') repeat-x 0 -70px;
}

#sidebar-left .menu .menu li.active-trail .menu {
  background: none;
  border: 0;
}

#sidebar-left .menu a,
#sidebar-left .menu a:link,
#sidebar-left .menu a:visited {
  text-decoration: none;
}

#sidebar-left .menu a:hover {
  color: #768718;
}

/*
  Language select
*/

#header .block-languageinterface ul {
  right: 0px;
}

#header .block-languageinterface ul li {
  margin: 0;
  text-align: center;
  width: 65px;
}

#header .block-languageinterface .active {
  display: none;
}

/*
  Spotboxes, views block
*/

.block-nodeblock,
.block-block,
.block.block-views {
  float: left;
  margin: 0 0 15px;
}

#content-bottom .block-nodeblock,
#content-bottom .block-block,
#content-bottom .block.block-views {
  margin: 0 15px 15px 0;
}

.front #content-bottom .block-nodeblock,
.front #content-bottom .block-block,
.front #content-bottom .block.block-views {
  margin: 15px 15px 15px 0;
}

.block-nodeblock .spotbox * {
  color: #fff;
  text-decoration: none;
}

#main-wrapper .block.block-block,
#main-wrapper .block.block-views {
  font-size: 85%;
}

#main-wrapper .block.block-views .block-content {
  width: 300px;
}

.block-nodeblock .spotbox {
  background-color: #fff;
  font-size: 85%;
  min-height: 200px;
  overflow: hidden;
  width: 300px;
}

#main-wrapper .block.block-block h3,
#main-wrapper .block.block-views h3,
.block-nodeblock .spotbox .title {
  background: #444444 url('../images/header-bg.png') repeat-x;
  behavior: url('/sites/all/themes/sportaarhusevents/styles/pie.htc');
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  color: #fff;
  font-weight: normal;
  line-height: 345%;
  height: 40px;
  margin: 0;
  position: relative;
  text-indent: 15px;
}

#main-wrapper .block.block-block h3,
#main-wrapper .block.block-views h3,
#main-wrapper .block.block-block h3 a,
#main-wrapper .block.block-views h3 a,
.block-nodeblock .spotbox .title a {
  color: #fff;
  display: block;
  font-family: 'Nobile', arial, sans-serif;
  text-decoration: none;
}

.block-nodeblock .spotbox .image {
  background: #c3c2c2 url('../images/image-shadow.png') repeat-x top;
  line-height: 75%;
  padding: 2px 0 0;
}

#main-wrapper .block.block-views .spotbox.content,
#main-wrapper .block.block-block .block-content,
.block-nodeblock .spotbox .content {
  background: #fff url('../images/gradient-shadow-top-8.png') repeat-x top;
  border-top: 1px solid #c3c2c2;
  color: #726557;
  line-height: 135%;
  margin: 0;
  min-height: 45px;
  padding: 15px;
}

#main-wrapper .block.block-views .view-members-list.spotbox.content,
#main-wrapper .block.block-block view-members-list.block-content,
.block-nodeblock view-members-list.spotbox .content {
  background: none;
}

#main-wrapper .block.block-block .block-content {
  border: 0;
  padding: 0;
}

#main-wrapper .block.block-views .more-link {
  background: url('../images/sprites.png') no-repeat right 9px;
  float: right;
  font-weight: bold;
  margin: 0 15px 0 0;
  padding: 0 15px 0 0;
  text-decoration: none;
}

#main-wrapper .block.block-views a.more-link:hover {
  color: #a5b938;
}

/*
  Spotbox specific
*/

.block-nodeblock .spotbox .link {
  float: right;
  line-height: 200%;
  margin: 1px 15px 0 0;
  padding: 1px 0 3px 20px;
}

.block-nodeblock .spotbox .link a {
  border-bottom: 1px solid #a5b938;
  color: #000;
  font-weight: bold;
}

.block-nodeblock .spotbox .link a:hover {
  color: #a5b938;
  border: 0;
}

/*
  News spotbox specific
*/

#main-wrapper .block.block-views .content .row {
  border-bottom: 1px solid #d7d7d7;
  overflow: hidden;
  padding: 10px 0;
}

#main-wrapper .block.block-views .content .row.first {
  overflow: hidden;
  padding: 0 0 10px;
}

#main-wrapper .block.block-views .content .created {
  color: #969696;
  font-size: 95%;
}

#main-wrapper .block.block-views .content .title span,
#main-wrapper .block.block-views .content span.icon {
  background: url('../images/sprites.png') no-repeat 1px 4px;
  display: inline-block;
  height: 15px;
  width: 15px;
}

#main-wrapper .block.block-views .content span.icon a {
  display: block;
  text-decoration: none;
}

#main-wrapper .block.block-views .content .title,
#main-wrapper .block.block-views .content .title a,
#main-wrapper .block.block-views .content .title a:link,
#main-wrapper .block.block-views .content .title a:visited {
  color: #5e5e5e;
  font-weight: bold;
  text-decoration: none;
}

#main-wrapper .block.block-views .content .title a:hover,
#main-wrapper .block.block-views .content .title a:active {
  color: #a5b938;
}

/*
  Featured content
*/

#main-wrapper .view-featured-content,
.view-featured-content {
  height: 225px;
  overflow: hidden;
  position: relative;
  width: 615px;
}

.view-featured-content .views_slideshow_controls .views_slideshow_previous,
.view-featured-content .views_slideshow_controls .views_slideshow_pause,
.view-featured-content .views_slideshow_controls .views_slideshow_play,
.view-featured-content .views_slideshow_controls .views_slideshow_next,
.view-featured-content .views_slideshow_singleframe_pager,
.view-featured-content .views_slideshow_controls {
  position: absolute;
  z-index: 6;
}

.view-featured-content .views_slideshow_controls {
  bottom: 20px;
  height: 35px;
  left: 0;
  width: 615px;
}

.view-featured-content .views_slideshow_singleframe_pager {
  background-color: #303031;
  behavior: url('/sites/all/themes/sportaarhusevents/styles/pie.htc');
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  bottom: 20px;
  display: block;
  float: left;
  height: 35px;
  right: 60px;
  outline: 0;
  overflow: hidden;
  position: absolute;
}

.view-featured-content .views_slideshow_slide {
  height: 225px;
  position: relative;
  width: 615px;
}

.view-featured-content .views_slideshow_singleframe_pager .pager-item {
  padding: 0;
}

.view-featured-content .views_slideshow_singleframe_pager .pager-item a {
  background-color: #808080;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  float: left;
  height: 13px;
  margin: 10px 10px 10px 0;
  text-indent: -9999px;
  width: 13px;
}

.view-featured-content .views_slideshow_singleframe_pager .pager-item.first a {
  margin: 10px;
}

.view-featured-content .views_slideshow_singleframe_pager .pager-item.activeSlide a {
  background-color: #fff;
}

.view-featured-content .views_slideshow_controls .views_slideshow_previous {
  background: url('../images/slideshow/slideshow-controls.png') no-repeat 0 -35px;
  display: block;
  height: 35px;
  left: 15px;
  outline: 0;
  text-indent: -9999px;
  width: 35px;
}

.view-featured-content .views_slideshow_controls .views_slideshow_play,
.view-featured-content .views_slideshow_controls .views_slideshow_pause {
  background: url('../images/slideshow/slideshow-controls.png') no-repeat top left;
  display: none;
  height: 35px;
  right: 60px;
  outline: 0;
  text-indent: -9999px;
  width: 35px;
}

.view-featured-content .views_slideshow_controls .views_slideshow_pause {
  background: url('../images/slideshow/slideshow-controls.png') no-repeat top right;
}

.view-featured-content .views_slideshow_controls .views_slideshow_next {
  background: url('../images/slideshow/slideshow-controls.png') no-repeat -90px -35px;
  display: block;
  height: 35px;
  outline: 0;
  right: 15px;
  text-indent: -9999px;
  width: 35px;
}

.view-featured-content .link {
  left: 0;
  position: absolute;
  top: 0;
}

.view-featured-content .link a {
  behavior: url('/sites/all/themes/sportaarhusevents/styles/pie.htc');
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  height: 225px;
  position: relative;
  width: 615px;
}

.view-featured-content .content {
  background: url('../images/background-75.png');
  behavior: url('/sites/all/themes/sportaarhusevents/styles/pie.htc');
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  color: #fff;
  left: 0;
  min-height: 60px;
  padding: 0;
  position: absolute;
  top: 35px;
  min-width: 325px;
}

.view-featured-content .content a {
  behavior: url('/sites/all/themes/sportaarhusevents/styles/pie.htc');
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  color: #fff;
  display: block;
  font-size: 170%;
  padding: 10px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.view-featured-content .content a p {
  font-size: 65%;
  text-transform: none;
}

/*
  Quotes
*/

.block-nodeblock h3 {
  display: none;
}

.block-nodeblock .quote,
#event .quote {
  background: url('../images/quote.png') no-repeat 35px 45px;
  width: 100%;
}

#event .quote {
  background-position: 25px 25px;
}

.block-nodeblock .quote .content,
#event .quote .content {
  font-family: 'Neuton', georgia, serif;
  font-size: 105%;
  padding: 50px 40px 30px 85px;
  text-align: justify;
}

#event .quote .content {
  font-size: 120%;
  line-height: 150%;
  padding: 30px 70px;
}

.block-nodeblock .quote .content p,
#event .quote .content p {
  color: #515151;
}

.block-nodeblock .quote .content div,
#event .quote .content div {
  color: #898989;
  font-size: 85%;
}

/*
  Event
*/

#event {
  color: #666666;
  line-height: 160%;
  margin: 0 0 25px;
  position: relative;
}

#event .image-wrapper {
  position: relative;
}

#event .title,
#event .date {
  background: url('../images/background-75.png');
  behavior: url('/sites/all/themes/sportaarhusevents/styles/pie.htc');
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  top: 20px;
  left: 0;
  padding: 10px 15px;
  position: absolute;
}

#event .date,
#event .title h1 {
  color: #fff;
}

#event .title h1 {
  font-size: 175%;
  font-weight: bold;
  margin: 0;
}

#event .date {
  top: 71px;
  padding: 5px 15px 5px 10px;
  left: 0;
}

#event .date .date-display-start {
  background: url('../images/sprites.png') no-repeat 0 -169px;
  padding: 2px 0 2px 28px;
}

#event .image {
  margin: 0 0 15px;
}

/*
  Event list block
*/

#main-wrapper .block.block-views .spotbox.event .image {
  float: left;
  margin: 0 10px 0 0;
}

#main-wrapper .block.block-views .spotbox.event .image a {
  display: block;
  height: 40px;
}

#main-wrapper .block.block-views .spotbox.event .content a {
  color: #5e5e5e;
  font-size: 95%;
  text-decoration: none;
}

#main-wrapper .block.block-views .spotbox.event .content a:hover {
  color: #a5b938;
}

/*
  Views lists
*/

.event-list .row,
.sport-venues-list .row,
.custom-views-list .row {
  background: url('../images/gradient-shadow-top-8.png') repeat-x 0 -40px;
  behavior: url('/sites/all/themes/sportaarhusevents/styles/pie.htc');
  -moz-border-radius: 8px 8px 0;
  -webkit-border-radius: 8px 8px 0;
  border-radius: 8px 8px 0;
  clear: both;
  overflow: hidden;
  padding: 10px 15px 20px;
  position: relative;
}

.event-list .row:hover,
.sport-venues-list .row:hover,
.custom-views-list .row:hover {
  background: url('../images/gradient-shadow-top-8.png') repeat-x 0 -30px;
}

.event-list .title,
.sport-venues-list .title,
.custom-views-list .title {
  font-size: 125%;
}

.event-list .title,
.sport-venues-list .title,
.custom-views-list .title,
.event-list .title a,
.sport-venues-list .title a,
.custom-views-list .title a {
  font-weight: bold;
  text-decoration: none;
}

.event-list .title a:hover,
.sport-venues-list .title a:hover,
.custom-views-list .title a:hover {
  color: #768718;
}

.event-list .image-wrapper,
.sport-venues-list .image-wrapper,
.custom-views-list .image-wrapper,
.custom-views-list .image-wrapper {
  position: relative;
}

.event-list .date,
.custom-views-list .date {
  background: url('../images/background-75.png');
  behavior: url('/sites/all/themes/sportaarhusevents/styles/pie.htc');
  -moz-border-radius: 0 8px 8px 0;
  -webkit-border-radius: 0 8px 8px 0;
  border-radius: 0 8px 8px 0;
  bottom: 20px;
  left: 0;
  position: absolute;
}

.event-list .date a,
.custom-views-list .date a {
  color: #fff;
  display: block;
  font-size: 95%;
  padding: 5px 15px;
  text-decoration: none;
}

.event-list .date .date-display-single,
.custom-views-list .date .date-display-single {
  background: url('../images/sprites.png') no-repeat 0 -170px;
  padding: 2px 0 2px 30px;
}

.event-list .image,
.sport-venues-list .image,
.custom-views-list .image {
  float: left;
  margin: 5px 15px 0 0;
  min-height: 110px;
}

.event-list .link a,
.sport-venues-list .link a,
.custom-views-list .link a {
  background: url('../images/sprites.png') no-repeat 0 5px;
  padding: 0 0 0 11px;
}

.event-list .link a,
.sport-venues-list .link a,
.custom-views-list .link a,
.event-list .link a:link,
.sport-venues-list .link a:link,
.custom-views-list .link a:link,
.event-list .link a:visited,
.sport-venues-list .link a:visited,
.custom-views-list .link a:visited {
  color: #5e5e5e;
  font-weight: bold;
  text-decoration: none;
}

.event-list .link a:hover,
.sport-venues-list .link a:hover,
.custom-views-list .link a:hover,
.event-list .link a:active,
.sport-venues-list .link a:active,
.custom-views-list .link a:active {
  color: #a5b938;
}

/*
  Events 2 column panel
*/

.panel-2col .panel-col-first {
  font-size: 120%;
  width: 300px;
}

.panel-2col .panel-col-last {
  width: 630px;
}

.panel-2col .panel-col-last .panel-pane {
  margin: 0 0 0 15px;
}

/*
  Members page
*/

.node-member .field-image {
  float: right;
  margin: 8px 0 0 20px;
  overflow: hidden;
}

.node-member .field-link {
  margin: 10px 0 0;
}

.node-member .field-link a {
  background: url('../images/sprites.png') no-repeat 0 5px;
  padding: 0 0 0 11px;
}

.node-member .field-link a:visited {
  color: #5e5e5e;
  font-weight: bold;
  text-decoration: none;
}

.node-member .field-link a:hover {
  color: #a5b938;
}

/*
  Members slideshow
*/

.block .view-members-list.spotbox.content {
  text-align: center;
}

.block .view-members-list.spotbox.content div {
  margin: auto;
  text-align: center;
}

/*
  Messages
*/

.messages.status ul {
  list-style: none;
}

div.messages, /* Important messages (status, warning, and error) for the user */
div.status,
div.warning,
div.error {
  clear: both;
  min-height: 21px;
  margin: 0 1em 5px 1em;
  border: 2px solid #ff7;
  padding: 5px 5px 5px 35px;
  color: #000;
  background-color: #ffc;
  background-image: url(../images/messages/messages-status.png);
  background-repeat: no-repeat;
  background-position: 5px 5px;
}

/*
  Pager
*/

.pager-wrapper {
  font-size: 85%;
  margin: 0 0 15px;
  text-align: center;
}

.item-list {
  list-style: none;
  margin: auto;
}

.pager.item-list li {
  display: inline;
  margin: 0;
  padding: 0;
}

.pager .pager-item a,
.pager .pager-item a:link,
.pager .pager-item a:visited
.pager .pager-first a,
.pager .pager-first a:link,
.pager .pager-first a:visited,
.pager .pager-previous a,
.pager .pager-previous a:link,
.pager .pager-previous a:visited,
.pager .pager-next a,
.pager .pager-next a:link,
.pager .pager-next a:visited,
.pager .pager-last a,
.pager .pager-last a:link,
.pager .pager-last a:visited,
.pager.item-list .pager-current {
  background-color: #dedede;
  border: 1px solid #797979;
  behavior: url('/sites/all/themes/sportaarhusevents/styles/pie.htc');
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #4d4d4d !important;
  padding: 4px 10px;
  position: relative;
  text-decoration: none !important;
}

.pager .pager-item a:hover,
.pager .pager-first a:hover,
.pager .pager-previous a:hover,
.pager .pager-next a:hover,
.pager .pager-last a:hover {
  background-color: #4d4d4d;
  color: #fff !important;
}

.pager.item-list .pager-current {
  background-color: #4d4d4d;
  color: #fff !important;
  *margin: 0 4px 0 0;
  padding: 4px 10px;
}

/*
  News list
*/

#main-content .view-News .view-content .row {
  border-bottom: 1px solid #e5e5e5;
  margin: 0 0 20px;
  overflow: auto;
  padding: 0 0 10px;
}

#main-content .view-News .view-content .news-image {
  margin: 8px 0 0;
}

#main-content .view-News .view-content .news-image {
  float: left;
}

#main-content .view-News .view-content .post-date-wrapper {
  background: url('../images/calendar.png') no-repeat;
  float: left;
  margin: 4px 0 0;
  min-height: 100px;
  text-align: center;
  width: 90px;
}

#main-content .view-News .view-content .post-date-wrapper span {
  margin: auto;
}

#main-content .view-News .view-content .post-date-wrapper .post-date-inner-wrapper {
  line-height: 155%;
}

#main-content .view-News .view-content .post-date-wrapper .post-date-month,
#main-content .view-News .view-content .post-date-wrapper .post-date-year {
  color: #fff;
  font-size: 95%;
  text-transform: capitalize;
}

#main-content .view-News .view-content .post-date-wrapper .post-date {
  color: #575757;
  font-size: 350%;
  line-height: 122%;
  width: 90px;
}

#main-content .view-News .view-content .title {
  font-size: 140%;
  font-weight: bold;
}

#main-content .view-News .view-content .title,
#main-content .view-News .view-content .teaser,
#main-content .view-News .view-content .link {
  margin: 0 0 0 100px;
}

#main-content .view-News .view-content .link a {
  background: url('../images/sprites.png') no-repeat 0 5px;
  color: #5e5e5e;
  font-weight: bold;
  padding: 0 0 0 11px;
  text-decoration: none;
}

#main-content .view-News .view-content .link a:hover {
  color: #a5b938;
}

#main-content .view-News .view-content .title a,
#main-content .view-News .view-content .title a:link,
#main-content .view-News .view-content .title a:visited,
#main-content .view-News .view-content .title a:hover,
#main-content .view-News .view-content .title a:active {
  color: #3f3f3f;
  display: block;
  margin: 0 0 5px;
  text-decoration: none;
  width: 99%;
}

#main-content .view-News .view-content a,
#main-content .view-News .view-content a:link,
#main-content .view-News .view-content a:visited {
}

#main-content .view-News .view-content a:hover,
#main-content .view-News .view-content a:active {
}

/*
  News
*/

.node .field-newsimage {
  float: left;
  margin: 7px 15px 0 0;
  width: 200px;
}

/*
  Sitemap
*/

#site-map .site-map-box {
  margin: 10px 0;
}

#site-map .site-map-box ul {
  margin: 0;
  padding: 0;
}

#site-map .site-map-box ul ul {
  padding: 0 0 0 15px;
}

#site-map .site-map-box h2 {
  display: none;
}

#site-map .site-map-box li {
  list-style: none;
}

#site-map .site-map-box a {
  background: url('../images/sprites.png') no-repeat 0 5px;
  padding: 0 0 0 15px;
  text-decoration: none;
}

#site-map .site-map-box a:hover {
  color: #768718;
}

/*
  Google Maps
*/

.node .field-location {
  margin: 20px 0 0;
}