/* CSS: Brian Jensen @ www.magnify.dk */



/*
  Font, colors etc.
*/

/*
  Default
*/

body {
  background: #bfdbee url('../images/body-background.jpg') repeat-x top center;
  color: #000;
  font: 100%/150% Arial, Verdana, sans-serif;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  color: #f45000;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

ul,
.block ul {
  list-style: square;
  margin: 0;
  padding: 0;
}

td {
  vertical-align: top;
}

dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
  margin-bottom: 10px;
}

/* Containers */

#header {
  height: 115px;
  position: relative;
}

#logo {
  left: 10px;
  position: absolute;
  top: 15px;
}

#main {
  background-color: #fff;
  padding: 15px;
}

#breadcrumb {
  background-color: #d9d9d9;
}

#content {
  background-color: #d6d6d6;
  margin: 0 0 0 15px;
}

.front #content {
  margin: 0 15px 0 0;
}

#sidebar-left,
#sidebar-right {
  background-color: #444444;
  margin: 0;
}

#sidebar-left-inner,
#sidebar-right-inner {
  padding: 10px;
}

#footer-wrapper {
  background-color: #f1f1f1;
}

#footer-blocks {
  background-color: #a50000;
  padding: 10px;
}

#footer {
  background-color: #334854;
  padding: 10px;
}

/*
  General menu stuff
*/

ul.menu li {
  list-style: none;
  list-style-image: none; /* hide image in IE 7 */
}

/* Mainmenu */

#main-menu {
  background: url('../images/main-menu-bg.png') no-repeat;
}

#main-menu ul.menu {
  height: 46px;
}

#main-menu ul.menu li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#main-menu ul.menu li.active {
  background: url('../images/main-menu-active-arrow.gif') no-repeat bottom center;
}

#main-menu ul.menu li a {
  color: #d7d6d6;
  display: inline-block;
  font-size: 70%;
  font-weight: bold;
  letter-spacing: 0.001em;
  padding: 11px;
  text-decoration: none;
  text-transform: uppercase;
}

#main-menu ul.menu li a:link,
#main-menu ul.menu li a:visited {
  color: #d7d6d6;
}

#main-menu ul.menu li.active a,
#main-menu ul.menu li a:hover,
#main-menu ul.menu li a:active {
  color: #fff;
}

/* Secondary menu */

#block-menu-secondary-links {
  float: right;
  position: absolute;
  right: 10px;
  text-align: right;
  top: 15px;
  width: 300px;
}

#block-menu-secondary-links ul.menu {
  float: right;
}

#block-menu-secondary-links ul.menu li {
  background-color: #8b9ca3;
  border-radius: 8px;
  -moz-border-radius: 5px;
  display: inline;
  float: left;
  margin: 0 15px 0 0;
  overflow: hidden;
  padding: 0;
}

#block-menu-secondary-links ul.menu li.last {
  margin: 0;
}

#block-menu-secondary-links ul.menu li:hover {
  background-color: #687b83;
}

#block-menu-secondary-links ul.menu li a {
  color: #fff;
  display: block;
  font-size: 70%;
  line-height: 110%;
  margin: 0;
  padding: 4px 8px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #646464;
}